		<!--body content start-->
		<section class="body-content p-top-10" id="featured-apps">

			<div class="page-content-sm p-top-10">

				<!--parallax-->
				<div class="parallax-inner parallax-6" id="featured-apps">
					<div class="container">
						<div class="row">
							<div class="heading-title-alt text-center m-bot-0 inline-block">
								<span class="heading-sub-title text-uppercase theme-color">awesome parallax effect</span>
								<h1 class="text-uppercase light-txt">Art is knowing which ones to keep</h1>

								<div class="m-top-50 inline-block">
									<a href="#" class="btn btn-medium  btn-theme-color light-hover"> Hang with us</a>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!--parallax-->

			</div>

			<!-- apps intro -->
			<div class="post-list-aside left-side post-p9">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-6">
							<div class="post-desk">
								<div class="m-bot-30">
									<span class="post-sub-title text-uppercase">who am i</span>
									<h4 class="text-uppercase">
										i am a hardcore web developer
									</h4>
								</div>

								<p>
									Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content.
								</p>

								<ul class="m-bot-30 circle-list inline-block">
									<li>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									</li>
									<li>
										Adipisci blanditiis delectus deserunt dolorem
									</li>
									<li>
										Impedit inventore itaque iure libero maiores simso.
									</li>

								</ul>

								<div>
									<a href="#" class="btn btn-small btn-theme-color "> Read More </a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- apps intro -->

		</section>