


    <div class="testimonial-parallax banner-para5">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--testimonial start-->
                        <div id="testimonial-5" class="text-center light-txt big-icon ">
                            <div class="item">
                                <div class="testimonial-thumb">
                                    <img class="img-circle" src="{{ site.static-image-url }}/profiles/profile1.jpg" alt="">
                                </div>

                                <div class="content">
                                    <p class="half-txt">
                                        Immensely happy with the quality of product that we recieved during his contract with us.
                                        We will definitely work together again in the future. 
                                    </p>
                                    <div class="testimonial-meta">
                                        - Michael Goldsmith -
                                        <span>Head of Technology, Fairfax Digital</span>
                                    </div>
                                </div>
                            </div>



                            <div class="item">
                                <div class="testimonial-thumb">
                                    <img class="img-circle" src="{{ site.static-image-url }}/profiles/profile2.jpg" alt="">
                                </div>
                                <div class="content">
                                    <p class="half-txt">I am still waiting on this guys testimonial but I'm sure he;s just super busy and hasn't gotten round to replying yet. But just you wait.</p>
                                    <div class="testimonial-meta">
                                        - Bryan Guenther -
                                        <span>IT Director, Rightship</span>
                                    </div>
                                </div>
                            </div>



                            <div class="item">
                                <div class="testimonial-thumb">
                                    <img class="img-circle" src="{{ site.static-image-url }}/profiles/profile3.jpg" alt="">
                                </div>
                                <div class="content">
                                    <p class="half-txt">In a high pressure financial sector where security and agility are key, Jorda was a huge asset that proved his worth many times over.</p>
                                    <div class="testimonial-meta">
                                        - Elliot Parker -
                                        <span>CEO, Hybrid Corp</span>
                                    </div>
                                </div>
                            </div>


                            <div class="item">
                                <div class="testimonial-thumb">
                                    <img class="img-circle" src="{{ site.static-image-url }}/profiles/profile4.jpg" alt="">
                                </div>
                                <div class="content">
                                    <p class="half-txt">Having worked with Jordan across multiple companies I can safely recommend his work ethic and quality of product to anyone looking for his expertise.</p>
                                    <div class="testimonial-meta">
                                        - Andrew Bachelard -
                                        <span>Head of Digital Assets, Fairfax Media</span>
                                    </div>
                                </div>
                            </div>                            

                        </div>
                        <!--testimonial end-->
                    </div>
                </div>
            </div>
        </div>
    </div>